img {
  margin-top: 20px;
  margin-bottom: 20px;
}

.is-hidden {
  display: none;
}

.subtitle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.toggle-button span {
  color: #3273dc;
  font-size: 1.2em;
}

.icon-rotate {
  display: inline-block;
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.kbd {
  background: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px 6px;
  font-size: 0.9rem;
  font-weight: bold;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
