<section class="section">
  <div class="container">
    <h1 class="title has-text-centered">Documentation de configuration</h1>

    <div class="box">
      <div class="subtitle-container">
        <h2 class="subtitle">Vérification de TLS 1.2 dans iNot Comptabilité</h2>
        <button class="toggle-button" (click)="toggleContent(item2)">
          <i class="fas" [ngClass]="{ 'fa-chevron-down': item2.visible, 'fa-chevron-right': !item2.visible }"></i>
        </button>
      </div>
      <div [ngClass]="{ 'is-hidden': !item2.visible }">
        <p>Vérifiez bien dans le logiciel iNot Comptabilité, dans les paramètres généraux, que TLS 1.2 est bien activé.</p>
      </div>
    </div>

    <div class="box">
      <div class="subtitle-container">
        <h2 class="subtitle">Vérification de TLS 1.2 dans Internet Explorer</h2>
        <button class="toggle-button" (click)="toggleContent(item3)">
          <i class="fas" [ngClass]="{ 'fa-chevron-down': item3.visible, 'fa-chevron-right': !item3.visible }"></i>
        </button>
      </div>
      <div [ngClass]="{ 'is-hidden': !item3.visible }">
        <p>Vérifiez bien que TLS 1.2 est activé dans les paramètres avancés d'Internet Explorer.</p>
        <img src="assets/wiki/chapter-3/tls_12_parameter.png">
      </div>
    </div>

    <div class="box">
      <div class="subtitle-container">
        <h2 class="subtitle">Vérification de l'homologation dans iNot Comptabilité</h2>
        <button class="toggle-button" (click)="toggleContent(item4)">
          <i class="fas" [ngClass]="{ 'fa-chevron-down': item4.visible, 'fa-chevron-right': !item4.visible }"></i>
        </button>
      </div>
      <div [ngClass]="{ 'is-hidden': !item4.visible }">
        <p>Vérifiez bien que vous êtes en homologation dans les paramètres WebServices du logiciel iNot Comptabilité.</p>
      </div>
    </div>

    <div class="box">
      <div class="subtitle-container">
        <h2 class="subtitle">Vérification des URLs dans iNot Comptabilité</h2>
        <button class="toggle-button" (click)="toggleContent(item5)">
          <i class="fas" [ngClass]="{ 'fa-chevron-down': item5.visible, 'fa-chevron-right': !item5.visible }"></i>
        </button>
      </div>
      <div [ngClass]="{ 'is-hidden': !item5.visible }">
        <p>Vérifiez bien les URLs dans les configurations WebServices du logiciel iNot Comptabilité.</p>
      </div>
    </div>

    <div class="box">
      <div class="subtitle-container">
        <h2 class="subtitle">Vérification du CRPCEN dans iNot Comptabilité</h2>
        <button class="toggle-button" (click)="toggleContent(item6)">
          <i class="fas" [ngClass]="{ 'fa-chevron-down': item6.visible, 'fa-chevron-right': !item6.visible }"></i>
        </button>
      </div>
      <div [ngClass]="{ 'is-hidden': !item6.visible }">
        <p>Vérifiez bien le CRPCEN dans les configurations du logiciel iNot Comptabilité (ctrl+shift+D), il doit être du même numéro que la carte.</p>
      </div>
    </div>
  </div>
</section>
