<div class="card">
  <div class="card-content">
    <div class="content">
      <p class="has-text-weight-bold">
        <span class="icon">
          <i [ngClass]="(proxyStatus$ | async) ? 'fas fa-check-circle has-text-success' : 'fas fa-times-circle has-text-danger'"></i>
        </span>
        Proxy Internet Explorer activé :
        <span class="has-text-success" *ngIf="(proxyStatus$ | async)">Oui</span>
        <span class="has-text-danger" *ngIf="!(proxyStatus$ | async)">Non</span>
      </p>
      <app-configuration-block
        [title]="'Configuration proxy'"
        [currentConfig]="addressProxyServer$ | async"
        [rightConfig]="rightProxyConfiguration"
        [isSuccess]="isSuccess"
        [infoMessage]="'Vous devriez appliquez cette configuration dans les proxies internet explorer'"
        [path]="''"
        (applyConfig)="onApplyConfig()">
      </app-configuration-block>

      <app-configuration-block
        [title]="'Vos exceptions proxy'"
        [currentConfig]="proxyExceptions$ | async"
        [rightConfig]="rightProxyExceptions"
        [isSuccess]="isProxyExceptionsSuccess"
        [infoMessage]="'Vous devriez appliquez cette configuration dans les exceptions des proxies internet explorer'"
        [path]="''"
        (applyConfig)="onApplyConfig()">
      </app-configuration-block>

      <app-configuration-block
        [title]="'Votre configuration AWR'"
        [currentConfig]="customConfiguration$ | async"
        [rightConfig]="rightAwrConfig"
        [isSuccess]="isCustomConfigurationSuccess"
        [infoMessage]="'Vous devriez appliquez cette configuration dans la configuration AWR'"
        [path]="'C:\\ProgramData\\AWR\\custom_conf\\custom_configuration.xml'"
        (applyConfig)="onApplyConfig()">
      </app-configuration-block>

      <app-configuration-block
        [title]="'Votre configuration AWR des URLs sécurisées'"
        [currentConfig]="securedUrls$ | async"
        [rightConfig]="rightSecuredUrls"
        [isSuccess]="isSecuredUrlsSuccess"
        [infoMessage]="'Vous devriez appliquer cette configuration dans la configuration des URLs sécurisées AWR'"
        [path]="'C:\\ProgramData\\AWR\\custom_conf\\custom_secured_urls.xml'"
        (applyConfig)="onApplyConfig()">
      </app-configuration-block>

      <p class="has-text-weight-bold m-2 mt-6">Configuration minimale dans le fichier hosts :</p>
      <article class="message">
        <div class="message-body">
          <p>Chemin du fichier de configuration : C:\Windows\System32\drivers\etc\hosts</p>
        </div>
      </article>
      <article class="message is-info">
        <div class="message-body" style="flex-grow: 1; display: flex; flex-direction: column;">
          <p>
            <i class="fa fa-info-circle"></i>
            Votre fichier hosts doit inclure les lignes suivantes sur votre poste
          </p>
          <pre style="flex-grow: 1;">{{ rightHostsConfig }}</pre>
        </div>
      </article>
    </div>
  </div>
</div>
